@using Footballista.Wasm.Shared.Data.Competitions;
@using Footballista.Wasm.Client.NewCareer.ManagerInfo;
@inherits StartNewCareerBase

<h3>Start a new career</h3>

<TextEdit @bind-Text="@CareerName" Placeholder="Career name" />

<ManagerInfoComponent Manager="TheManager"></ManagerInfoComponent>

<Select @bind-SelectedValue="@SelectedCompetitionId" TValue="int">
	@foreach (Competition competition in AvailableCompetitions)
	{
		<SelectItem Value="@competition.Id">@competition.Name (@competition.Country)</SelectItem>
	}
</Select>

<Button Clicked="@CancelClick" Color="Color.Light">Cancel</Button>
<Button Clicked="@StartNewCareerClick" Color="Color.Primary">Start new career</Button>

