@using Footballista.Wasm.Shared.Data.Competitions;
@inherits StartNewCareerBase

<h3>Start a new career</h3>

@* Career name *@
<TextEdit @bind-Text="@CareerName" Placeholder="Career name" />

@* Manager info : firstname *@
<TextEdit @bind-Text="@ManagerFirstname" Placeholder="Manager firstname" />

@* Manager info : lastname *@
<TextEdit @bind-Text="@ManagerLastname" Placeholder="Manager lastname" />

@* Manager info : date of birth *@
<DateEdit TValue="DateTime?" @bind-Date="@ManagerDateOfBirth" Placeholder="Manager date of birth" />

@* Manager info : country *@
<TextEdit @bind-Text="@ManagerCountry" Placeholder="Manager country" />


@* Select competition *@
<Select @bind-SelectedValue="@SelectedCompetitionId" TValue="int">
	@foreach (Competition competition in AvailableCompetitions)
	{
		<SelectItem Value="@competition.Id">@competition.Name (@competition.Country)</SelectItem>
	}
</Select>

<Button Clicked="@CancelClick" Color="Color.Light">Cancel</Button>
<Button Clicked="@StartNewCareerClick" Color="Color.Primary">Start new career</Button>


