@using Itenso.TimePeriod;
@using Footballista.Wasm.Client.ClientServices;

@inject CareerDateService CareerDateService;  

<div class="month">
	<ul>
		<li class="prev">&#10094;</li>
		<li class="next">&#10095;</li>
		<li>@CareerDateService.GetDisplayMonth(DisplayDate)<br>@CareerDateService.GetDisplayYear(DisplayDate)</li>
	</ul>
</div>

<ul class="weekdays">
	@foreach (var dow in CareerDateService.DaysOfWeekEnumerable)
	{
		<li>@dow</li>
	}
</ul>

<ul class="days">
	@foreach (var date in CareerDateService.GetDates(DisplayDate))
	{
		<li>
			@if (date.DateTime.DayOfWeek == CareerDateService.FirstDayOfWeek)
			{
				<span class="active">@date.Day</span>
			}
			else
			{
				@date.Day
			}
		</li>
	}
</ul>

@code {

	[Parameter]
	public Date DisplayDate { get; set; }

}
